@{
    ViewBag.Title = "Contact";
}

    <div class="bg-lightgray mt-20 rounded">
        <br />
        <div class="container">
            <div class="col-md-12" style="padding-top:50px">
                <div class="row">
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block">
                                    <i class="fa fa-map-marker  text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">Office, UK</h2>
                                <p class="text-light">United Kingdom</p>
                                <p class="text-light">2 Talls street, Talls house, London, <br /> ECAY OAB</p>
                                <h3 class="text-light">Phone</h3>
                                <p class="text-light">+44 203-5146-877</p>
                            </div>
                        </div><br />
                    </div>
                    <br />
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block">
                                    <i class="fa fa-map-marker text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">Greece</h2>
                                <p class="text-light">Greece</p>
                                <p class="text-light">161 Marathonos avanue, Gerakas, Athens <br /> 153 44</p>
                                <h3 class="text-light">Phone</h3>
                                <p class="text-light">+30 211-850-850-5</p>
                            </div>
                        </div>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block" style="padding: 15px 17px;">
                                    <i class="fa fa-envelope text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">Emails</h2>
                                <p class="text-light">Support requests</p>
                                <p class="em">support@email.com</p>
                                <p class="text-light">General Information</p>
                                <p class="em">hello@email.com</p>
                            </div>
                        </div><br />
                    </div>
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2 mh">
                            <div class="ic text-center">
                                <div class="icons d-inline-block" style="padding: 15px 17px;">
                                    <i class="fa fa-comment  text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">We Are Social</h2>
                                <p class="text-light"><i class="fa fa-facebook-square fass"></i> Like us on Facebook</p>
                                <p class="text-light"><i class="fa fa-twitter-square fass"></i> Follow us on Twitter</p>
                                <p class="text-light"><i class="fa fa-youtube-square fass"></i> Subscribe our Youtube Channel</p>
                                <p class="text-light"><i class="fa fa-instagram fass"></i> Follow us on Instagram</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div><br />
        </div>
    </div>